<!DOCTYPE html>
<html>
<head>
  <title>Hubpeakblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.png" %>
			<% end %>	
		</div>
	<ul>
		<li class="category">Website</li>
		<li class="category"><%= link_to "blog", root_path %></li>
		<li class="category"><%= link_to "about", root_path %></li>
	</ul>
	<ul>
		<li class="category">Social</li>
		<li><a href="youtube.com/hubpeak">YouTube</a></li>
		<li><a href="soundcloud.com/hubpeak">Podcast</a></li>
		<li><a href="hubpeak.com/email">Stay Updated!</a></li>
		<li><a href="mailto:support@hubpeak.com">Email Us</a></li>
	</ul>
    
 	
	</div>

	<div id="main_content">
		<div id="header">
			<p>All Posts</p>
			<% if user_signed_in? %>
			 <div class="buttons">
			 	<button class="button"><%= link_to "New Posts", new_post_path %></button>
			 	<button class="button"><%= link_to "Log Out" %></button>
			 </div>	
			<% end %> 
		</div>
	 <% flash.each do |name, msg| %>
	 	 <%= content_tag(:div, :msg, class: "alert") %>
	 <% end %>
	 <%= yield %>		
	</div>	

</body>
</html>
